<mat-card class="dialog-container">
  <mat-card-header>
    <mat-card-title>Crear Recurso</mat-card-title>
  </mat-card-header>
  <mat-dialog-content>
    <form [formGroup]="formCrearRecurso">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="recurso_id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="marca">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="modelo">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="modelo">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="modelo">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button (click)="cerrarDialog()">Cerrar</button>
    <button mat-flat-button >Crear Recurso</button>
  </mat-dialog-actions>
</mat-card>
