<mat-grid-list [cols]="isMobile() ? '1' : '4'" rowHeight="200px" gutterSize="40px">
  @for(categoria of categorias(); track categoria.id){
    <mat-grid-tile>
      <mat-card class="categoria-container">
        <mat-card-title>{{categoria.nombre}}</mat-card-title>
        <mat-card-subtitle>{{categoria.descripcion}}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-button (click)="onPrestar(categoria.nombre)">Prestar</button>
          <button mat-button>Devolver</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  }
</mat-grid-list>
