<div>
  <mat-toolbar>
    @if(!isMobile()){
      <div class="toolbar-logo" [style.width]="'14rem'">
        <img ngSrc="assets/logo-ing2.png" alt="no se econtro" fill priority>
      </div>
    }
    <div class="toolbar-container" [class.in-light-theme]="!isMobile()">
      <div class="nav-content-left">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <p>Pañol</p><p [style.color]="'#5271FF'">LAB</p>
      </div>
      <div class="nav-content-right">
        @if(isMobile()){
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="in-light-theme">
            <button mat-menu-item>Logout</button>
            <button mat-menu-item>Perfil</button>
          </mat-menu>
        }@else {
          <p>eduardo.apata.tito&#64;alumnos.uta.cl</p>
          <span>|</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="in-light-theme">
            <button mat-menu-item>Logout</button>
            <button mat-menu-item>Perfil</button>
          </mat-menu>
        }
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav 
    [mode]="isMobile() ? 'over': 'side'" 
    [opened]="isMobile() ? 'false' : 'true'" 
    [style.width]="isMobile() ? '12rem': '14rem'">
      <div class="sidenav-header">
        <img src="" alt="no se encontro">
        <div class="sidenav-header-text">
          <h2>Eduardo Apata</h2>
          <p>Ayudante</p>
        </div>
      </div>
      <app-sidenav-ayudantes [isMobile]="isMobile()" (toogleSidenav)="sidenav.toggle()"></app-sidenav-ayudantes>
    </mat-sidenav>
    <mat-sidenav-content class="in-light-theme">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>