.sidenav-logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.toolbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 98%;
  flex-grow: 1;
  box-shadow: 0px 1px 6px -3px rgba(0,0,0,0.75);
}

mat-toolbar {
  height: 5rem;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav-content p{
  margin: 0;
}	

.nav-content-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-content-right p{
  font-size: 1rem;
}
.nav-content-right-image{
  font-size: 1.2rem;
}

.nav-content-right-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-sidenav{
  border-radius: 0px;
}

mat-sidenav-container {
  height: calc(100vh - 5rem);
}



